# ข้อมูลหุ้น ปันผล ในตลาด SET - Web Scraping
ข้อมูลจาก : http://siamchart.com

Web Scraping ข้อมูลรายชื่อหุ้นในตลาด SET

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import numpy as np

In [ ]:
list_url = ['NUMBER','A','B','C','D','E','F','G','H','I','J','K','M','N','L','O','P','Q','R','S','T','U','V','W','X','Y','Z']

info = pd.DataFrame()
for i in list_url: 
    url = 'https://classic.set.or.th/set/commonslookup.do?language=th&country=TH&prefix='+i

    r = requests.get(url)
    soup = BeautifulSoup(r.text, features="html.parser")
    table = soup.find('table')
    stock_name = pd.read_html(str(table))
    stock_name = stock_name[0]
    info = pd.concat([info,stock_name])
    # time.sleep(5)
info = info.reset_index()
info = info.drop(columns=['index'])
info

    ชื่อย่อหลักทรัพย์               ชื่อเต็มบริษัท / หลักทรัพย์จดทะเบียน ตลาด
0                  2S                   บริษัท 2 เอส เมทัล จำกัด (มหาชน)  SET
1              3K-BAT  บริษัท ไทย เอ็นเนอร์จี สโตเรจ เทคโนโลยี จำกัด ...  SET
2                 7UP  บริษัท เซเว่น ยูทิลิตี้ส์ แอนด์ พาวเวอร์ จำกัด...  SET
3                   A           บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)  SET
4                  A5             บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน)  mai
..                ...                                                ...  ...
854               YGG              บริษัท อิ๊กดราซิล กรุ๊ป จำกัด (มหาชน)  mai
855              YONG                     บริษัท ยงคอนกรีต จำกัด (มหาชน)  mai
856             YUASA     บริษัท ยัวซ่าแบตเตอรี่ ประเทศไทย จำกัด (มหาชน)  mai
857               ZEN       บริษัท เซ็น คอร์ปอเรชั่น กรุ๊ป จำกัด (มหาชน)  SET
858              ZIGA             บริษัท ซิก้า อินโนเวชั่น จำกัด (มหาชน)  mai

[859 rows x 3 columns]

In [ ]:
info2 = info.copy()

In [ ]:
info2 = info2.rename(columns={"ชื่อย่อหลักทรัพย์":"securities abbreviation","ชื่อเต็มบริษัท / หลักทรัพย์จดทะเบียน":"Company full name","ตลาด":"market"})
info2

,securities abbreviation,Company full name,market
0,2S,บริษัท 2 เอส เมทัล จำกัด (มหาชน),SET
1,3K-BAT,บริษัท ไทย เอ็นเนอร์จี สโตเรจ เทคโนโลยี จำกัด ...,SET
2,7UP,บริษัท เซเว่น ยูทิลิตี้ส์ แอนด์ พาวเวอร์ จำกัด...,SET
3,A,บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน),SET
4,A5,บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน),mai
...,...,...,...
854,YGG,บริษัท อิ๊กดราซิล กรุ๊ป จำกัด (มหาชน),mai
855,YONG,บริษัท ยงคอนกรีต จำกัด (มหาชน),mai
856,YUASA,บริษัท ยัวซ่าแบตเตอรี่ ประเทศไทย จำกัด (มหาชน),mai
857,ZEN,บริษัท เซ็น คอร์ปอเรชั่น กรุ๊ป จำกัด (มหาชน),SET
858,ZIGA,บริษัท ซิก้า อินโนเวชั่น จำกัด (มหาชน),mai

Web Scraping ข้อมูลปันผลหุ้นในตลาด SET

In [ ]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.7/dist-packages (from selenium) (2022.6.15)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.12)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.1.1)
Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 1s (173 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (104.0.5112.101-0ubuntu0.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 56 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [ ]:
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('—-incognito')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
browser = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: use options instead of chrome_options
  import sys

In [ ]:
browser.get('http://siamchart.com/stock-info/2S/')
soup = browser.page_source
print(soup)

In [ ]:
dividend = pd.DataFrame()
num=1
for index, row in info2.iterrows():
  try:
    name = row['securities abbreviation']
    browser.get('http://siamchart.com/stock-info/'+name+'/')

    soup = BeautifulSoup(browser.page_source)
    table = soup.find_all('table')
    a = table[1]
    tr = a.find_all('tr')
    data = pd.DataFrame()
    for i in range (2,len(tr)):
      td = tr[i].find_all('td')
      new_row = {'ชื่อ':name,'วันที่':td[0].text, 'ปันผล':td[1].text, 'ราคาปิดก่อนปันผล':td[2].text, '%':td[3].text}
      data = data.append(new_row, ignore_index=True)
    dividend = pd.concat([dividend,data])
    time.sleep(5)
    print(num)
    num+=1
  except:
    num+=1
    print(num)
    continue

dividend

In [ ]:
dividend = dividend.reset_index()
dividend = dividend.drop(columns=['index'])
dividend

       ชื่อ      วันที่    ปันผล ราคาปิดก่อนปันผล     %
0        2S  2010-04-26     0.25             3.34  7.49
1        2S  2011-05-04     0.15             3.48  4.31
2        2S  2012-05-08     0.12             2.52  4.76
3        2S  2013-05-02  0.02224             2.88  0.77
4        2S  2014-05-02     0.12             2.32  5.17
...     ...         ...      ...              ...   ...
12469  ZIGA  2018-03-09     0.13             4.32  3.01
12470  ZIGA  2019-03-11     0.08             2.06  3.88
12471  ZIGA  2020-03-17    0.039              0.6   6.5
12472  ZIGA  2021-03-04    0.161             6.65  2.42
12473  ZIGA  2021-08-25     0.13             5.25  2.48

[12474 rows x 5 columns]

In [ ]:
print(dividend[dividend.duplicated()])

Empty DataFrame
Columns: [ชื่อ, วันที่, ปันผล, ราคาปิดก่อนปันผล, %]
Index: []

In [ ]:
dividend.to_excel("dividend.xlsx")

In [ ]:
from selenium.webdriver.common.by import By
data = browser.find_element(By.XPATH, "//table[2]")
print(data.get_attribute("innerHTML"))

In [ ]:
browser.quit()

In [ ]:
browser.get('http://siamchart.com/stock-info/CPALL/')