# Web Scraping ข้อมูลรายชื่อหุ้นในตลาด SET เเละ ETF

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import numpy as np

ชื่อหลักทรัพย์ SET MAI

In [ ]:
list_url = ['NUMBER','A','B','C','D','E','F','G','H','I','J','K','M','N','L','O','P','Q','R','S','T','U','V','W','X','Y','Z']
info_name = pd.DataFrame()
for i in list_url: 
    url = 'https://classic.set.or.th/set/commonslookup.do?language=th&country=TH&prefix='+i
    r = requests.get(url)
    soup = BeautifulSoup(r.text, features="html.parser")
    table = soup.find('table')
    stock_name = pd.read_html(str(table))
    stock_name = stock_name[0]
    info_name = pd.concat([info_name,stock_name])
    # time.sleep(5)
info_name = info_name.reset_index()
info_name = info_name.drop(columns=['index'])
info_name = info_name.rename(columns={"ชื่อย่อหลักทรัพย์":"Name","ชื่อเต็มบริษัท / หลักทรัพย์จดทะเบียน":"Company full name","ตลาด":"Market"})
info_name.head()

In [4]:
info_name_copy = info_name.copy()

In [5]:
print(info_name_copy[info_name_copy.duplicated()])

Empty DataFrame
Columns: [Name, Company full name, Market]
Index: []

In [6]:
print(info_name_copy.shape)
info_name_copy.dtypes

(859, 3)

Name                 object
Company full name    object
Market               object
dtype: object

In [7]:
info_name_copy.isna().sum()

Name                 0
Company full name    0
Market               0
dtype: int64

ชื่อหลักทรัพย์ ETF

In [2]:
url = 'https://classic.set.or.th/set/othertypeslookup.do'
r = requests.get(url)
soup = BeautifulSoup(r.text, features="html.parser")
table = soup.find_all('table')
etf_name = pd.read_html(str(table))
etf_name = etf_name[1]
etf_name = etf_name.reset_index()
etf_name = etf_name.drop(columns=['index'])
etf_name = etf_name.rename(columns={"ชื่อย่อหลักทรัพย์":"Name","ชื่อเต็มบริษัท / หลักทรัพย์จดทะเบียน":"Company full name","ตลาด":"Market"})
# etf_name['Index'] = "ETF"
etf_name.head()

      Name                          Company full name Market
0     1DIV  กองทุนเปิดไทยเด็กซ์ SET High Dividend ETF    SET
1    ABFTH          กองทุนเปิดดัชนีพันธบัตรไทยเอบีเอฟ    SET
2    BMSCG           กองทุนเปิด BCAP MID SMALL CG ETF    SET
3  BMSCITH          กองทุนเปิด BCAP MSCI THAILAND ETF    SET
4  BSET100                กองทุนเปิด BCAP SET 100 ETF    SET

In [4]:
etf_name_copy = etf_name.copy()

In [5]:
print(etf_name_copy[etf_name_copy.duplicated()])

Empty DataFrame
Columns: [Name, Company full name, Market]
Index: []

In [6]:
print(etf_name_copy.shape)
etf_name_copy.dtypes

(13, 3)

Name                 object
Company full name    object
Market               object
dtype: object

In [ ]:
info_name_copy.isna().sum()

SET + ETF

In [13]:
result_name = pd.DataFrame()
result_name = pd.concat([info_name_copy,etf_name])
result_name.head()

     Name                                  Company full name Market
0      2S                   บริษัท 2 เอส เมทัล จำกัด (มหาชน)    SET
1  3K-BAT  บริษัท ไทย เอ็นเนอร์จี สโตเรจ เทคโนโลยี จำกัด ...    SET
2     7UP  บริษัท เซเว่น ยูทิลิตี้ส์ แอนด์ พาวเวอร์ จำกัด...    SET
3       A           บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)    SET
4      A5             บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน)    mai

In [14]:
print(result_name[result_name.duplicated()])

Empty DataFrame
Columns: [Name, Company full name, Market]
Index: []

In [15]:
print(result_name.shape)
result_name.dtypes

(872, 3)

Name                 object
Company full name    object
Market               object
dtype: object

In [16]:
info_name_copy.isna().sum()

Name                 0
Company full name    0
Market               0
dtype: int64

Index

In [2]:
url_list = ['SET100','SET50','SETHD','sSET']
index_result = pd.DataFrame()
for i in url_list:
    url = 'https://classic.set.or.th/mkt/sectorquotation.do?sector='+i+'&language=th&country=TH'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, features="html.parser")
    table = soup.find_all('table')
    index = pd.read_html(str(table))
    index = index[2]
    cols = [1,2,3,4,5,6,7,8,9,10,11]
    index.drop(index.columns[cols],axis=1,inplace=True)
    index = index.rename(columns={"หลักทรัพย์":"Name"})
    index['Index'] = i
    index_result = pd.concat([index_result,index])
index_result.head()

     Name   Index
0     ACE  SET100
1  ADVANC  SET100
2  AEONTS  SET100
3   AMATA  SET100
4     AOT  SET100

In [3]:
url = 'https://classic.set.or.th/set/othertypeslookup.do'
r = requests.get(url)
soup = BeautifulSoup(r.text, features="html.parser")
table = soup.find_all('table')
etf_name_index = pd.read_html(str(table))
etf_name_index = etf_name_index[1]
etf_name_index = etf_name_index.reset_index()
etf_name_index = etf_name_index.drop(columns=['index'])
etf_name_index = etf_name_index.rename(columns={"ชื่อย่อหลักทรัพย์":"Name","ชื่อเต็มบริษัท / หลักทรัพย์จดทะเบียน":"Company full name","ตลาด":"Market"})
etf_name_index = etf_name_index.drop(columns=['Company full name','Market'])
etf_name_index['Index'] = "ETF"
etf_name_index.head()

      Name Index
0     1DIV   ETF
1    ABFTH   ETF
2    BMSCG   ETF
3  BMSCITH   ETF
4  BSET100   ETF

In [4]:
print(index_result[index_result.duplicated()])

Empty DataFrame
Columns: [Name, Index]
Index: []

In [5]:
print(etf_name_index[etf_name_index.duplicated()])

Empty DataFrame
Columns: [Name, Index]
Index: []

In [6]:
index_result = pd.concat([etf_name_index,index_result])

In [7]:
print(index_result.shape)
index_result.dtypes

(341, 2)

Name     object
Index    object
dtype: object

In [8]:
index_result.isna().sum()

Name     0
Index    0
dtype: int64

In [10]:
index_result.to_excel("index.xlsx")

SET Sector & Industry

In [21]:
sector = ['AGRI','FOOD','FASHION','HOME','PERSON','BANK','FIN','INSUR','AUTO','IMM','PAPER','PETRO','PKG','STEEL','CONMAT','PROP','PF%26REIT','CONS','ENERG','MINE','COMM','HELTH','MEDIA','PROF','TOURISM','TRANS','ETRON','ICT']
set_sector = pd.DataFrame()
for i in sector: 
    url = 'https://classic.set.or.th/mkt/sectorquotation.do?language=th&country=TH&market=SET&sector='+i
    r = requests.get(url)
    soup = BeautifulSoup(r.text, features="html.parser")
    table = soup.find_all('table')
    name_sec = pd.read_html(str(table))
    name_sec = name_sec[2]
    name_sec['Sector_id'] = i
    set_sector = pd.concat([set_sector,name_sec])
    # time.sleep(5)
cols = [1,2,3,4,5,6,7,8,9,10,11]
set_sector.drop(set_sector.columns[cols],axis=1,inplace=True)
set_sector.head()

  หลักทรัพย์ Sector_id
0         EE      AGRI
1       GFPT      AGRI
2        LEE      AGRI
3        MAX      AGRI
4        NER      AGRI

In [65]:
set_sector_copy = set_sector.copy()

In [66]:
set_sector_copy['Sector_id'] = set_sector_copy['Sector_id'].replace(['PF%26REIT'],'PF&REIT')
set_sector_copy

   หลักทรัพย์ Sector_id
0          EE      AGRI
1        GFPT      AGRI
2         LEE      AGRI
3         MAX      AGRI
4         NER      AGRI
..        ...       ...
28      SYNEX       ICT
29      THCOM       ICT
30        TKC       ICT
31       TRUE       ICT
32        TWZ       ICT

[668 rows x 2 columns]

In [67]:
conditions = [
    (set_sector_copy['Sector_id'] == "AGRI") | (set_sector_copy['Sector_id'] == "FOOD"),
    (set_sector_copy['Sector_id'] == "FASHION") | (set_sector_copy['Sector_id'] == "HOME") | (set_sector_copy['Sector_id'] == "PERSON"),
    (set_sector_copy['Sector_id'] == "BANK") | (set_sector_copy['Sector_id'] == "FIN") | (set_sector_copy['Sector_id'] == "INSUR"),
    (set_sector_copy['Sector_id'] == "AUTO") | (set_sector_copy['Sector_id'] == "IMM") | (set_sector_copy['Sector_id'] == "PAPER") | (set_sector_copy['Sector_id'] == "PETRO") | (set_sector_copy['Sector_id'] == "PKG") | (set_sector_copy['Sector_id'] == "STEEL"),
    (set_sector_copy['Sector_id'] == "CONMAT") | (set_sector_copy['Sector_id'] == "CONS") | (set_sector_copy['Sector_id'] == "PF&REIT") | (set_sector_copy['Sector_id'] == "PROP"),
    (set_sector_copy['Sector_id'] == "ENERG") | (set_sector_copy['Sector_id'] == "MINE"),
    (set_sector_copy['Sector_id'] == "COMM") | (set_sector_copy['Sector_id'] == "HELTH") | (set_sector_copy['Sector_id'] == "MEDIA") | (set_sector_copy['Sector_id'] == "PROF") | (set_sector_copy['Sector_id'] == "TOURISM") | (set_sector_copy['Sector_id'] == "TRANS"),
    (set_sector_copy['Sector_id'] == "ETRON") | (set_sector_copy['Sector_id'] == "ICT"),
    ]

values = ['AGRO', 'CONSUMP', 'FINCIAL', 'INDUS', 'PROPCON', 'RESOURC', 'SERVICE ', 'TECH']
set_sector_copy['Industry_id'] = np.select(conditions, values, default='')
set_sector_copy = set_sector_copy.rename(columns={"หลักทรัพย์":"Name"})
set_sector_copy.head()

   Name Sector_id Industry_id
0    EE      AGRI        AGRO
1  GFPT      AGRI        AGRO
2   LEE      AGRI        AGRO
3   MAX      AGRI        AGRO
4   NER      AGRI        AGRO

In [69]:
set_sector_copy.isna().sum()

Name           0
Sector_id      0
Industry_id    0
dtype: int64

MAI Industry

In [70]:
industry = ['AGRO','CONSUMP','FINCIAL','INDUS','PROPCON','RESOURC','SERVICE','TECH']
mai_industry = pd.DataFrame()
url = 'https://classic.set.or.th/mkt/sectorquotation.do?sector=mai&language=th&country=TH'
r = requests.get(url)
soup = BeautifulSoup(r.text, features="html.parser")
table = soup.find_all('table')
n=2
for i in industry:
    table_mai_industry = pd.read_html(str(table))
    table_mai_industry = table_mai_industry[n]
    n+=1
    table_mai_industry['Industry_id'] = i
    mai_industry = pd.concat([mai_industry,table_mai_industry])
    # time.sleep(5)
cols = [1,2,3,4,5,6,7,8,9,10,11]
mai_industry.drop(mai_industry.columns[cols],axis=1,inplace=True)
mai_industry = mai_industry.rename(columns={"หลักทรัพย์":"Name"})
mai_industry.head()

    Name Industry_id
0  ABICO        AGRO
1     AU        AGRO
2   JCKH        AGRO
3  KASET        AGRO
4    MUD        AGRO

In [71]:
mai_industry_copy = mai_industry.copy()

In [72]:
indus_sector = pd.concat([set_sector_copy,mai_industry_copy])
indus_sector = indus_sector.reset_index()
indus_sector = indus_sector.drop(columns=['index'])
indus_sector.head()

   Name Sector_id Industry_id
0    EE      AGRI        AGRO
1  GFPT      AGRI        AGRO
2   LEE      AGRI        AGRO
3   MAX      AGRI        AGRO
4   NER      AGRI        AGRO

In [73]:
print(indus_sector[indus_sector.duplicated()])

Empty DataFrame
Columns: [Name, Sector_id, Industry_id]
Index: []

In [74]:
print(indus_sector.shape)
indus_sector.dtypes

(856, 3)

Name           object
Sector_id      object
Industry_id    object
dtype: object

In [75]:
indus_sector.isna().sum()

Name             0
Sector_id      188
Industry_id      0
dtype: int64

In [76]:
indus_sector[indus_sector.Sector_id.isna()]

      Name Sector_id Industry_id
668  ABICO       NaN        AGRO
669     AU       NaN        AGRO
670   JCKH       NaN        AGRO
671  KASET       NaN        AGRO
672    MUD       NaN        AGRO
..     ...       ...         ...
851   SICT       NaN        TECH
852  SIMAT       NaN        TECH
853   SPVI       NaN        TECH
854    TPS       NaN        TECH
855   VCOM       NaN        TECH

[188 rows x 3 columns]

In [77]:
indus_sector["Sector_id"].fillna("No Sector", inplace = True)
indus_sector.loc[668:855]

      Name  Sector_id Industry_id
668  ABICO  No Sector        AGRO
669     AU  No Sector        AGRO
670   JCKH  No Sector        AGRO
671  KASET  No Sector        AGRO
672    MUD  No Sector        AGRO
..     ...        ...         ...
851   SICT  No Sector        TECH
852  SIMAT  No Sector        TECH
853   SPVI  No Sector        TECH
854    TPS  No Sector        TECH
855   VCOM  No Sector        TECH

[188 rows x 3 columns]

In [78]:
indus_sector.isna().sum()

Name           0
Sector_id      0
Industry_id    0
dtype: int64

Merge

In [80]:
all_data = pd.merge(result_name, indus_sector, how='left', on=['Name'])
all_data.head()

,Name,Company full name,Market,Sector_id,Industry_id
0,2S,บริษัท 2 เอส เมทัล จำกัด (มหาชน),SET,STEEL,INDUS
1,3K-BAT,บริษัท ไทย เอ็นเนอร์จี สโตเรจ เทคโนโลยี จำกัด ...,SET,AUTO,INDUS
2,7UP,บริษัท เซเว่น ยูทิลิตี้ส์ แอนด์ พาวเวอร์ จำกัด...,SET,ENERG,RESOURC
3,A,บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน),SET,PROP,PROPCON
4,A5,บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน),mai,No Sector,PROPCON

In [81]:
all_data.isna().sum()

Name                  0
Company full name     0
Market                0
Sector_id            16
Industry_id          16
dtype: int64

In [82]:
all_data[all_data.Sector_id.isna()]

,Name,Company full name,Market,Sector_id,Industry_id
505,POMPUI,บริษัท ผลิตภัณฑ์อาหารกว้างไพศาล จำกัด (มหาชน),SET,NaN,NaN
573,SAFARI,บริษัท ซาฟารีเวิลด์ จำกัด (มหาชน),SET,NaN,NaN
849,WORLD,บริษัท เวิลด์ คอร์ปอเรชั่น จำกัด (มหาชน),SET,NaN,NaN
859,1DIV,กองทุนเปิดไทยเด็กซ์ SET High Dividend ETF,SET,NaN,NaN
860,ABFTH,กองทุนเปิดดัชนีพันธบัตรไทยเอบีเอฟ,SET,NaN,NaN
861,BMSCG,กองทุนเปิด BCAP MID SMALL CG ETF,SET,NaN,NaN
862,BMSCITH,กองทุนเปิด BCAP MSCI THAILAND ETF,SET,NaN,NaN
863,BSET100,กองทุนเปิด BCAP SET 100 ETF,SET,NaN,NaN
864,CHINA,กองทุนเปิดดับเบิลยูไอเอสอี เคแทม ซีเอสไอ 300 ไ...,SET,NaN,NaN
865,EBANK,กองทุนเปิด KTAM SET BANKING ETF TRACKER,SET,NaN,NaN
866,ENGY,กองทุนเปิด MTRACK ENERGY ETF,SET,NaN,NaN
867,ENY,กองทุนเปิด KTAM SET ENERGY ETF TRACKER,SET,NaN,NaN
868,GLD,กองทุนเปิดเคแทม โกลด์ อีทีเอฟ แทร็กเกอร์,SET,NaN,NaN
869,TDEX,กองทุนเปิด ไทยเด็กซ์ เซ็ท 50 อีทีเอฟ,SET,NaN,NaN
870,UBOT,กองทุนเปิด ยูไนเต็ด โรโบติกส์ & อาร์ติฟิเชียล ...,SET,NaN,NaN
871,UHERO,กองทุนเปิด ยูไนเต็ด ฮีโร่ อีทีเอฟ,SET,NaN,NaN

In [83]:
all_data["Sector_id"].fillna("No Sector", inplace = True)
all_data["Industry_id"].fillna("No Industry", inplace = True)
all_data.loc[505:871]

,Name,Company full name,Market,Sector_id,Industry_id
505,POMPUI,บริษัท ผลิตภัณฑ์อาหารกว้างไพศาล จำกัด (มหาชน),SET,No Sector,No Industry
506,POPF,กองทุนรวมสิทธิการเช่าอสังหาริมทรัพย์ไพร์มออฟฟิศ,SET,PF&REIT,PROPCON
507,PORT,บริษัท สหไทย เทอร์มินอล จำกัด (มหาชน),SET,TRANS,SERVICE
508,POST,บริษัท บางกอก โพสต์ จำกัด (มหาชน),SET,MEDIA,SERVICE
509,PPF,กองทุนรวมอสังหาริมทรัพย์ปิ่นทอง อินดัสเตรียล ป...,SET,PF&REIT,PROPCON
...,...,...,...,...,...
867,ENY,กองทุนเปิด KTAM SET ENERGY ETF TRACKER,SET,No Sector,No Industry
868,GLD,กองทุนเปิดเคแทม โกลด์ อีทีเอฟ แทร็กเกอร์,SET,No Sector,No Industry
869,TDEX,กองทุนเปิด ไทยเด็กซ์ เซ็ท 50 อีทีเอฟ,SET,No Sector,No Industry
870,UBOT,กองทุนเปิด ยูไนเต็ด โรโบติกส์ & อาร์ติฟิเชียล ...,SET,No Sector,No Industry
871,UHERO,กองทุนเปิด ยูไนเต็ด ฮีโร่ อีทีเอฟ,SET,No Sector,No Industry

In [84]:
all_data.isna().sum()

Name                 0
Company full name    0
Market               0
Sector_id            0
Industry_id          0
dtype: int64

In [4]:
all_data.to_excel("data_name.xlsx")